@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
body {
	background-color: #ecf0f1;
	font-family: 'Barlow', sans-serif;
}

.container {
	max-width: 500px;
}

.flag-icon {
	width: 50px;
	margin-bottom: 1rem;
}

span.name-list {
	display: block;
}

ul.name-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
	padding: 0;
	margin-bottom: 0;
}

ul.name-list li {
	margin: 0.5rem 0.5rem 0rem;
}

.input-group-text {
	min-width: 100px;
}
