@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');

body {
	background-color: #ecf0f1;
	font-family: 'Nunito', sans-serif;
}

.container {
	max-width: 500px;
}

.flag-icon {
	width: 50px;
	margin-bottom: 1rem;
}

.date {
	font-weight: 600;
	letter-spacing: 0.1em;
	margin-bottom: 0.8rem;
	text-transform: uppercase;
}

span.name-list {
	display: block;
}

.input-group-text {
	min-width: 100px;
}
